* {
  padding: 0;
  margin: 0;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  outline: none;
}

body {
  font-family: Roboto, sans-serif;
  font-style: normal;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

strong {
  font-weight: bold;
}

input {
  outline: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  border: 0;
  max-width: 100%;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-LightItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
#craft-weapon {
  width: 64.375vw;
  height: 26.563vw;
  background: linear-gradient(93.72deg, rgba(26, 26, 26, 0.94) 0%, #000E1B 100%);
  border-radius: 0.313vw;
  padding: 1.042vw 1.823vw 2.708vw 0.885vw;
}
#craft-weapon header {
  width: 65.521vw;
  height: 2.76vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#craft-weapon header div {
  padding-left: 0.625vw;
}
#craft-weapon header div > span:nth-child(1) {
  font-weight: 500;
  font-size: 1.25vw;
  line-height: 67.5%;
  display: flex;
  align-items: center;
  margin-bottom: 0.465vw;
  color: #FFFFFF;
}
#craft-weapon header div > span:nth-child(2) {
  font-weight: normal;
  font-size: 0.625vw;
  line-height: 100%;
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 0.25);
}
#craft-weapon header img {
  padding-right: 0.938vw;
  width: 2.813vw;
  height: 2.76vw;
}
#craft-weapon main {
  display: flex;
}
#craft-weapon main > .sections {
  margin-top: 2.083vw;
  height: 22.083vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#craft-weapon main > .sections div {
  width: 4.385vw;
  height: 3.802vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
#craft-weapon main > .sections div span {
  margin-left: -1.508vw;
  font-weight: normal;
  font-size: 0.729vw;
  line-height: 0.833vw;
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 0.25);
  transform: rotate(-90deg);
}
#craft-weapon main > .sections div img {
  width: 2.24vw;
  height: 2.24vw;
  margin-left: -1.004vw;
}
#craft-weapon main > .sections .active span {
  color: #FFFFFF;
}
#craft-weapon main > .content {
  padding-left: 0.677vw;
  display: flex;
  flex-wrap: wrap;
  margin-top: 2.083vw;
}
#craft-weapon main > .content .slot {
  width: 16.615vw;
  height: 9.323vw;
  margin-bottom: 1vw;
  display: flex;
  backdrop-filter: blur(0.521vw);
  border-radius: 0.104vw;
  border: 0.026vw solid rgba(255, 255, 255, 0);
  border-image-source: linear-gradient(90deg, #ffffff86 0%, rgba(255, 255, 255, 0) 100%);
  border-image-slice: 1;
  padding-left: 1.042vw;
  padding-bottom: 1.042vw;
}
#craft-weapon main > .content .slot .materials {
  background: #FE9B22;
  box-shadow: 0vw 0.104vw 0.208vw rgba(254, 155, 34, 0.25);
  border-radius: 0.104vw;
  width: 4.531vw;
  height: 0.938vw;
  position: absolute;
  margin-left: 9.333vw;
  margin-top: -0.5vw;
  font-weight: bold;
  font-size: 0.729vw;
  line-height: 67.5%;
  /* or 0.469vw */
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}
#craft-weapon main > .content .slot .name-section {
  font-weight: bold;
  font-size: 1.25vw;
  line-height: 100%;
  width: 7.396vw;
  margin-top: 1.198vw;
  display: flex;
  align-items: center;
  color: #FFFFFF;
}
#craft-weapon main > .content .slot .descript-section {
  width: 9.688vw;
  font-weight: normal;
  font-size: 0.625vw;
  line-height: 100%;
  /* or 0.625vw */
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 0.5);
}
#craft-weapon main > .content .slot .craft {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  width: 8.177vw;
  height: 1.979vw;
  border: 0.052vw solid rgba(255, 255, 255, 0.25);
  box-sizing: border-box;
  border-radius: 0.26vw;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 0.521vw;
  line-height: 0.625vw;
  color: #FFFFFF;
}
#craft-weapon main > .content .slot .craft:hover {
  background: linear-gradient(90deg, #FFFFFF 0%, #FFFFFF 100%);
  color: #000000;
}
#craft-weapon main > .content .slot .info-slot {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 9.577vw;
}
#craft-weapon main > .content .slot img {
  width: 5.208vw;
  height: 5.208vw;
  margin-top: 0.677vw;
}

/*# sourceMappingURL=style.css.map */
